[submodule "iu3-61/fokinvd/lr1-4/Mins"]
	path = iu3-61/fokinvd/lr1-4/Mins
	url = https://github.com/mareliberum/Mins.git
[submodule "iu3-62/gilenkoam/lr1-4"]
	path = iu3-62/gilenkoam/lr1-4
	url = git@github.com:TeaCupMe/MINS_LR.git
	branch = dev/lr4
